/* CSS custom style sheet style sheet */



@font-face {
  font-family: "Cooper Std Black";
  src: url("./fonts/cooper-std-black.otf");

}

@font-face {

  font-family: "Comic Sans MS";
  src: url("./fonts/ComicSansMS3.ttf")
}

body {
  font-family: "Cooper Std Black";
  background-color: #ffaaf2;

}

.heading {
  font-size:8vw;
  font-family: "Cooper Std Black";
  text-align: center;
  text-decoration: none;

}

.subheading {

  font-size:3vw;
  font-family: "Cooper Std Black";
  text-align: center;
  text-decoration: none;

}


.paragraph {
  font-size:2vw;
  font-family: "Comic Sans MS", arial sans-serif;
  margin: 0 10%;


}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
  border: 1px solid #000000;
  text-align: center;
  text-decoration: none;
  margin: 0 10%;
  overflow-x: auto;

}
/*
.th, .td {
    text-align: center;
    padding: 8px;

}

.tr:nth-child(even){background-color: #f2f2f2}*/

.responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: auto;
  

}

.site-map-divider {
  background-color: purple;
  width: 3px;
}

.site-map {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  width: 80%;
  margin: 0 10%;
  box-sizing: border-box;
  border: purple solid 3px;
}

.site-map a {
  font-size: 2vw;
  font-weight: 700;

  color: #000000;
  padding: 10px 0;

  width: 23%;

  text-align: center;
  text-decoration: none;
}